.page {
  height: calc(100vh - 64px);
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
}
.menu_title {
  margin: 0;
  padding: 20px 0;
  font-size: 14px;
  line-height: 1;
}
.menu_wrapper {
  max-height: 100%;
  overflow: auto;
}
